<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>FAQ</title>
</head>

<style>
	.main_text{
		color: gray;
	}
</style>

<body>

	<header>
		<div class="All_header_menu">
			<div class="Logo">
				<h1 class="Title">Home page</h1>
			</div>
			<div class="Top_menu">
				<ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/faq}">FAQ</a></li>
					<li><a th:href="@{/profile}">My profile</a></li>
					<li><a th:href="@{/logout}">Log OUT</a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="main_text">
		Here you need to explain what is it
	</div>

</body>
</html>